<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>DID I NEED THAT</title>
</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid bg-info">
    <a class="navbar-brand" href="#">@dint</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" id="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard" id="dashboard">Dashboard</a>
        </li>
        {{!-- Once the login/logout functionality is in, the javascript event listeners for these buttons will need the same logic 
        Then they can be uncommented and will toggle whether login/signout/sign in show up depending on if the user is logged in or not --}}
        {{#if session.logged_in}}
        <li class="nav-item">
          {{!-- href="users/logout" --}}
          <a class="nav-link btn"  id="logout">Log Out</a>
        </li>
        {{else}}
        <li class="nav-item">
          {{!-- href="users/login" --}}
          <a class="nav-link btn"  id="login">Login</a>
        </li>
         <li class="nav-item">
          {{!-- href="users/signup" --}}
          <a class="nav-link btn"  id="signup">Create Account</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<body>
    <div class = "container">
    {{{body}}}



</div>

<nav class="navbar fixed-bottom bg-body-tertiary">
  <div class="container-fluid">
    <div class="text-center text-dark p-3 bg-subtle">"The act of observing changes that which is being observed." - A Scientist
  </div>
</nav>

<br></br>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="/js/mainPageListeners.js"></script>

</body>

</html>