

<h2>Choose up to four categories</h2>
<br>
<h5>we've included some ideas for you below - change the existing entries or leave them as is</h5>
<br>
<form id="category-submit-form">
<input id="one" class="form-control" type="text" value="Hobbies" aria-label="default input example">
<br>
<input id="two" class="form-control" type="text" value="Clothing" aria-label="default input example">
<br>
<input id="three"class="form-control" type="text" value="Electronics" aria-label="default input example">
<br>
<input id="four"class="form-control" type="text" value="Subscriptions" aria-label="default input example">
<br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/addcategories.js"></script>