

<h2 class="display-4">CHOOSE UP TO FOUR CATEGORIES</h2>
<h5 class="display-6">We've included some ideas for you below - change the existing entries or leave them as is:</h5>
<br>
<form id="category-submit-form">
<input id="one" class="form-control" type="text" value="Hobbies" aria-label="default input example">
<br>
<input id="two" class="form-control" type="text" value="Clothing" aria-label="default input example">
<br>
<input id="three"class="form-control" type="text" value="Electronics" aria-label="default input example">
<br>
<input id="four"class="form-control" type="text" value="Subscriptions" aria-label="default input example">
<br>
  <button type="submit" class="btn btn-info">Submit Categories</button>
</form>

<script src="/js/addcategories.js"></script>