{{!-- dashboard display for the user currently set to three columns --}}

<div class="container text-center pt-3">
  <div class="row align-items-start">
    <div class="col bg-info-subtle">
      Add a new purchase
  <form id="purchase-form">
    <div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Category</label>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    {{!-- needs a list of all categories by userID from the server
    and then makes a list of them to populate the drop down --}}
    
    {{#each category}}
    <option value={{this.name}}>{{this.name}}</option>
    {{/each}} 
    </select>
</div>
 <label for="name" class="form-label border-5">Purchase Name</label>
<input id="name"class="form-control" type="text" default="rollerskates" aria-label="default input example">
<br>
<label for="price" class="form-label">Purchase Price</label>
<input id="price"class="form-control" type="text" default="item price" aria-label="default input example">
<br>
<label for="mood" class="form-label">Mood</label>
<input id="mood"class="form-control" type="text" default="amazing" aria-label="default input example">
<br>


<button type="submit" class="btn btn-info">Submit</button>

<br></br>
</form>


    </div>
    <div class="col">
      <button type="submit" class="btn btn-secondary" id="update-purchase">update purchase use</button>
      <button type="submit" class="btn btn-secondary" id="total-spent">Where is my money going?</button>

      {{!-- Use a partial that has purchase data from the server --}}
    {{!-- </div>
    <div class="col">
      Menu with options to view more data
    </div>
  </div> --}}
</div>

<script src="/js/dashboard.js"></script>