{{!-- dashboard display for the user currently set to three columns --}}

<div class="container text-center pt-3">
  <div class="row align-items-start">
    <div class="col bg-info-subtle">
      <h1 class="display-6">ADD A NEW PURCHASE</h1>
  <form id="purchase-form">
    <div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Category</label>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    {{!-- needs a list of all categories by userID from the server
    and then makes a list of them to populate the drop down --}}
    
    {{#each category}}
    <option value={{this.name}}>{{this.name}}</option>
    {{/each}} 
    </select>
</div>
 <label for="name" class="form-label border-5"></label>
<input id="name"class="form-control" type="text" default="rollerskates" placeholder="Enter the name of your purchase here" aria-label="Enter the name of your purchase here">
<br>
<label for="price" class="form-label"></label>
<input id="price"class="form-control" type="text" default="item price" placeholder="Enter price of the purchase" aria-label="Enter price of the purchase">
<br>
<label for="mood" class="form-label"></label>
<input id="mood"class="form-control" type="text" default="amazing" placeholder="Enter mood at time of buying purchase" aria-label="Enter mood at time of buying purchase">
<br>


<button type="submit" class="btn btn-info">Submit New Purchase</button>

<br></br>
</form>


    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" id="update-purchase">update my purchase use</button>
      <button type="submit" class="btn btn-success" id="total-spent">where is all my money?</button>
<br>
<br>
<br>
<br>
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Fun Fact</h5>
    <p class="card-text">75% of Americans have admitted to making an impulse purchase, 16% of which are worth over $500</p>
    <a href="https://www.amazon.com/" class="btn btn-primary">Go Shopping</a>
  </div>
</div>
</div>    
    
    
      <button type="submit" class="btn btn-secondary" id="update-purchase">Update Purchase Use</button>
      <button type="submit" class="btn btn-secondary" id="total-spent">Where Is My Money Going?</button>

      {{!-- Use a partial that has purchase data from the server --}}
    {{!-- </div>
    <div class="col">
      Menu with options to view more data
    </div>
  </div> --}}
</div>

<script src="/js/dashboard.js"></script>