
<h2 class="display-4">What You Bought</h2>
<h4 class="display-6">Uncheck any purchases below you haven't used:</h4>
<form id="did-i-use-form">

  <br></br>

{{#each purchaseData}}

<div class="form-check">
  <input class="form-check-input" type="checkbox" value={{this.name}} id="flexCheckChecked"Checked>
  <label class="form-check-label" for="flexCheckChecked">
    {{this.name}}
  </label>
</div>

{{/each}}

<br></br>

<button type="submit" class="btn btn-info" >Click To Update</button>
</form>





<script src="/js/didiuse.js"></script>