<form id="did-i-use-form">

{{#each purchaseData}}

<div class="form-check">
  <input class="form-check-input" type="checkbox" value={{this.name}} id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    {{this.name}}
  </label>
</div>

{{/each}}
<button type="submit" class="btn btn-primary" >Submit</button>
</form>
<script src="/js/didiuse.js"></script>