
{{!-- An example of content we could display on the main page  --}}
{{!-- the header and the footer are loading from the main view and will show up on every route, the code below is our "/" route  --}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <span></span>
    <h1 class="display-4">DID I NEED THAT</h1>
    <p class="lead">Keep track of your purchases, get reminders to log if you've used them and view trends over time</p>
  </div>
</div>


<div class="row align-items-start">
<div class="card mx-auto">
  <div class="card-body">
    <h5 class="card-title">Track Your Purchases</h5>
    <p class="card-text">Log your mood and how much you spent</p>
    {{!-- <a href="/signup" class="btn btn-success">Get Started</a> --}}
  </div>
</div>

<br></br>

<div class="card mx-auto">
  <div class="card-body">
    <h5 class="card-title">Create Categories</h5>
    <p class="card-text">Set up groups for organizing your spending</p>
    {{!-- <a href="/signup" class="btn btn-success">Get Started</a> --}}
  </div>
</div>

<br></br>

<div class="card mx-auto">
  <div class="card-body">
    <h5 class="card-title">Consciously Consume</h5>
    <p class="card-text">Get email reminders once a month and update whether you've used a purchase or not</p>
    
     {{!-- {{#if session.logged_in}}
       <a href="/dashboard" class="btn btn-success">Get Started</a>
        {{else}}
        <a href="/signup" class="btn btn-success">Get Started</a>
        {{/if}} --}}
    
  </div>
 </div>
</div>

<br></br>

<div>
       {{#if session.logged_in}}
       <a href="/dashboard" class="btn btn-info">Get Started</a>
        {{else}}
        <a href="/signup" class="btn btn-info">Get Started</a>
        {{/if}}

</div>
</div>
