
    <div class="card">
      <h3 class="card-header display-6">LOGIN</h3>
      <form id="login-form" class="card-body">
        <label class="form-label" for="email-login">E-mail</label>
        <input  id="email-login" type="text" autofocus="true" class="form-input" placeholder="Enter your email address" aria-label="Enter your email address" />

        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-input" placeholder="Enter your password" aria-label="Enter your password" />

        <button type="submit" class="btn btn-info">Login</button>

        <br></br>

        <a class="login-link" href="/signup">Click here to create an account</a>
      </form>
    </div>
    <script src="/js/login.js"></script>