<form id='signup-form'>
    <div class="row">
        <div id='signup-header'>
            <h2>Sign Up</h2>
        </div>
    </div>
    <div id="signup-div" class="row border">
        <div>
            <label for="user_name-signup">Username</label>
        </div>
        <div>
            <input type='text' id='user_name-signup' placeholder="Enter a username" aria-label="Enter a username" />
        </div>
        <div>
            <label for="email-signup">E-mail</label>
        </div>
        <div>
            <input type='text' id='email-signup' placeholder="Enter your email" aria-label="Enter your email" />
        </div>
        <div>
            <label for='password-signup'>Password</label>
        </div>
        <div>
            <input type='password' id='password-signup' placeholder="Enter a password" aria-label="Enter a password"/>
        </div>
        <div>
            <button type='submit' id='signup-btn'>Sign Up!</button>
        </div>
        <div>
            <a href="/login">Login instead</a>
        </div>
    </div>
</form>
<script src="/js/signup.js"></script>