
<div>
    <h2 class="p-2 mb-2">How much you've spent on your purchases: </h2>
    <h3 class="p-2 mb-2 text-primary">${{ totalSpent }}</h3>
</div>

<div>
    <h2 class="p-2 mb-2">How much you've spent on your unused purchases: </h2>
    <h3 class="p-2 mb-2 text-primary">${{ totalUnused }}</h3>
</div>

 <button type="submit" class="btn btn-primary" id="email-me">Email me a list of what I'm not using</button>

<script src="/js/emailList.js"></script>