
<div>
    <h2 class="p-2 mb-2">Total spent: </h2>
    <h3 class="p-2 mb-2">${{ totalSpent }}</h3>
</div>

<div>
    <h2 class="p-2 mb-2">Total spent on things you've never used: </h2>
    <h3 class="p-2 mb-2">${{ totalUnused }}</h3>
</div>

 <button type="submit" class="btn btn-primary" id="email-me">Email me a list of what I'm not using</button>

<script src="/js/emailList.js"></script>