
<div>
    <h2 class="display-6 text-center">TOTAL SPENT ON ALL LOGGED PURCHASES: </h2>
    <h3 class="p-2 mb-2 text-secondary text-center">${{ totalSpent }}</h3>
</div>

<div>
    <h2 class="display-6 text-center">TOTAL SPENT ON UNUSED PURCHASES: </h2>
    <h3 class="p-2 mb-2 text-secondary text-center">${{ totalSpentUnused }}</h3>
</div>



<script src="../public/js/totalPurchases.js"></script>